{{ define "archives" }}
{{ template "header" . }}
<script>
    $(document).ready(function () {
        $(function () {
            $('.list-group-item').on('click', function () {
                $('.bi', this)
                    .toggleClass('bi-chevron-right')
                    .toggleClass('bi-chevron-down');
            });
        });
    });
</script>
<div class="list-group">
    {{ range $_, $year := .years }}
    <a class="list-group-item" href="/{{ $year }}">{{ $year }}</a>
    <div class="list-group" id="{{ $year }}">
        {{ range $_, $month := index $.monthsInYear $year }}
            {{ $postsByMonth := index (index $.postsByMonth $year) $month }}
        <a class="list-group-item" data-toggle="collapse" href="#{{ $month | toMonthName }}-{{ $year }}">
            <i class="bi bi-chevron-right"></i>
            {{ $month | toMonthName }} ({{ len $postsByMonth }})
        </a>
        <div class="list-group collapse" id="{{ $month | toMonthName }}-{{ $year }}">
            {{ range $_, $post := $postsByMonth }}
            <a class="pl-5 list-group-item" href="/{{ $post.URI }}">{{ $post.Title }}</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>
{{ template "footer" . }}
{{ end }}
