{{ define "footer" }}
			<footer class="text-center">
				<div class="elsewhere pt-3">
					<ul>
						<li>
							<a class="btn btn-primary" style="background-color: #4c75a3;" href="mailto:quantonganh@gmail.com" role="button" title="Email me" target="_blank">
								<i class="bi bi-envelope"></i>
							</a>
						</li>
						<li>
							<a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/quantonganh/blog" role="button" title="GitHub" target="_blank">
								<i class="bi bi-github"></i>
							</a>
						</li>
						<li>
							<a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/quantonganh/" role="button" title="LinkedIn" target="_blank">
								<i class="bi bi-linkedin"></i>
							</a>
						</li>
						<li>
							<a class="btn btn-primary" style="background-color: #e52a34;" href="https://serverfault.com/users/59925/quanta" role="button" title="Server Fault" target="_blank">
								<i class="cib-server-fault"></i>
							</a>
						</li>
						<li>
							<a class="btn btn-primary" style="background-color: #ffac44;" href="https://stackoverflow.com/users/631612/quanta" role="button" title="Stack Overflow" target="_blank">
								<i class="cib-stackoverflow"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="navi">
					<ul>
						<li>
							<a href="/archives">Archives</a>
						</li>
						<li>
							<a href="/sitemap.xml">Sitemap</a>
						</li>
						<li>
							<a href="/rss.xml">RSS</a>
						</li>
					</ul>
				</div>
				<form class="needs-validation ml-auto pb-3 d-flex justify-content-center" method="post" action="/subscribe" novalidate>
					<div class="form-row">
						<div class="col-auto">
							<input type="email" class="form-control mr-sm-2" id="email" placeholder="Enter your email" aria-describedby="emailHelp" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-primary">Subscribe</button>
						</div>
					</div>
				</form>
			</footer>
		</article>
		<script>
		    (function() {
		        'use strict';
		        window.addEventListener('load', function() {
		            let forms = document.getElementsByClassName('needs-validation');
		            Array.prototype.filter.call(forms, function(form) {
		                form.addEventListener('submit', function(event) {
		                    if (form.checkValidity() === false) {
		                        event.preventDefault();
		                        event.stopPropagation();
		                    }
		                    form.classList.add('was-validated');
		                }, false);
		            });
		        }, false);
		    })();
		</script>
	</body>
</html>
{{ end }}
