{{ define "home" }}
{{ template "header" . }}
{{ range .posts }}
    <a href="/{{ .URI }}"><h2>{{ .Title }}</h2></a>
    <p>{{ .Date | toISODate }}</p>
    <p>Categories:
        {{ range $i, $category := .Categories }}
        <a class="btn btn-outline-primary" href="/category/{{ $category }}" role="button">{{ $category }}</a>
        {{ end }}
    </p>
    <p>Tags:
        {{ range $_, $tag := .Tags }}
            <a class="btn btn-outline-secondary" href="/tag/{{ $tag }}" role="button">{{ $tag }}</a>
        {{ end }}
    </p>
    <p>{{ .Description }}</p>
    <hr>
{{ end }}
{{ template "paginator" . }}
{{ template "footer" . }}
{{ end }}
