{{ define "content" }}
<h3>{{ .currentPost.Title }}</h3>
<img src="https://visitor-badge.glitch.me/badge?page_id=quantonganh.{{ .currentPost.URI }}" alt="visitor badge"/>
<p class="text-secondary">{{ .currentPost.Date | toISODate }}</p>
{{ if .currentPost.Categories }}
<p>
    Categories:
    {{ range $i, $category := .currentPost.Categories }}
    <a class="btn btn-outline-primary" href="/category/{{ $category }}" role="button">{{ $category }}</a>
    {{ end }}
</p>
{{ end }}
{{ .currentPost.Content }}
{{ if .currentPost.Tags }}
<p>
    Tags:
    {{ range $_, $tag := .currentPost.Tags }}
    <a class="btn btn-outline-secondary" href="/tag/{{ $tag }}" role="button">
        <i class="bi bi-tag"></i>
        {{ $tag }}
    </a>
    {{ end }}
</p>
{{ end }}
<div class="d-flex flex-row-reverse">
    <a class="btn btn-outline-info" href="https://github.com/quantonganh/blog/edit/master/posts/{{ .currentPost.URI }}.md" title="Edit this page on GitHub" target="_blank" rel="noopener">
        <i class="bi bi-pencil"></i>
        Edit on GitHub
    </a>
</div>
<hr/>
{{ if .relatedPosts }}
<p>
    Related Posts:
    <ul>
    {{ range $_, $post := .relatedPosts }}
        <li><a href="{{ $post.URI }}">{{ $post.Title }}</a></li>
    {{ end }}
    </ul>
</p>
{{ end }}
<table>
    <tr>
        {{ if .currentPost.HasPrev }}
        <td>
            <div class="d-md-flex">
                <a class="page-link" href="{{ .previousPost.URI }}">
                    <span aria-hidden="true">&laquo;</span>
                    Previous
                </a>
            </div>
        </td>
        {{ end }}
        {{ if .currentPost.HasNext }}
        <td>
            <div class="d-md-flex flex-md-row-reverse">
                <a class="page-link" href="{{ .nextPost.URI }}">
                    Next
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </div>
        </td>
        {{ end }}
    </tr>
</table>
<script src="https://utteranc.es/client.js"
        repo="quantonganh/blog"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
